@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.hero_containner {
    margin: 5% auto;
    width: 80%;
    background: rgba(27, 39, 49, 0.02);
}

.box {
    background: #1B2731;
    border-radius: 10px;

    width: 55%;
    height: 12rem;
    margin: auto;
    padding: 0rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    width: 60%;
    height: 80%;
}

.box span {
    position: relative;
    margin: 0px 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 3.8vw;
    line-height: 4.4vw;

    text-align: left;
    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.hero_para {
    padding: 5%;
    margin: 0px auto;
    width: 98%;

    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1B2731;
}

@media screen and (max-width: 760px) {
    .box{
        width: 75%;
        height: 60%;
    }
    .logo{
        height: 4rem;
        margin: 0.2rem;
    }
    .box span{
        font-size: 5vw;
        line-height: 5.5vw;
    }
    .hero_para {
      font-size: 16px;
    }
  }


/* =================================================================================================== */

/* CRETERIA SECTION  */
.criteria_containner {
    width: 100%;
    height: 18rem;
    padding: 1rem 4.5rem;

    z-index: -1;
    background: #1B2731;
    text-align: center;
}

.criteria_title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    color: #ffffff;
}

.criteria_underline {
    background-image: linear-gradient(91.67deg, #5CFF68 1.42%, #05CAFF 98.58%);
    width: 180px;
    height: 2px;
    margin: auto;

    position: relative;
    top: -10px;
}

.criteria_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.criteria_items {
    display: inline-block;
    margin: 1.8rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.criteria_items_img {
    width: 20%;
    height: 30px;
    margin: 10px 0;
}

.criteria_items_heading {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 0.8px;

    color: #FFFFFF;
}

.criteria_items_para {
    position: relative;
    top: -8px;

    font-style: normal;
    font-size: 14px;
    width: 70%;

    color: #FFFFFF;
}

@media only screen and (max-width:1300px){
    .criteria_flex{
        padding:0rem 0rem;
    }
    .criteria_items_heading{
        font-size: 22px;
    }
    .criteria_items_para{
        font-size: 14px;
        width:80%
    }
}

@media only screen and (max-width:760px){
    .criteria_containner{
        height: 38rem;
    }
    .criteria_flex{
        margin: 1rem 0rem;
    }
    .criteria_items{
        margin: 0.4rem 0rem;
    }
    .criteria_flex {
        flex-direction: column;
    }
}

/* =================================================================================================== */

/* BENIFITS SECTION  */
.benifits_containner {
    margin-top: 5%;
    width: 100%;

    background: rgba(27, 39, 49, 0.02);
}


.benifits_title {
    text-align: center;

    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;

    color: #1B2731;
}

.benifits_underline {
    background-image: linear-gradient(91.67deg, #5CFF68 1.42%, #05CAFF 98.58%);
    width: 180px;
    height: 2px;
    margin: auto;
}

.benifits_flex {
    width: 80%;
    margin: 4% auto;
     
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    color: #1B2731;

    top: 10%;
}

.benifits_items {
    height: 10rem;
    margin: 2% 5%;
    max-width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.benifits_items_img {
    height: 40px;
}

.benifits_items_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-transform: capitalize;

    color: #1B2731;
}

.benifits_items_para {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    text-align: center;
    letter-spacing: -0.025em;

    color: #1B2731;
}

/* =================================================================================================== */

/* APPLICATION SECTION  */
.application_containner {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(27, 39, 49, 0.02);
}

.application_containner_mini {
    background-color: rgba(27, 39, 49, 1);
    width: 50%;
    height: 14rem;
    border-radius: 5px;
    padding: 1.4rem 3rem;
    margin-right: 1rem;
}

.application_containner_mini_title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 54px;

    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.application_containner_mini_para {
    width: 70%;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.application_containner_mini_button {
    position: relative;
    top: -8rem;

    height: 2.5rem;
    width: 7rem;
    background: linear-gradient(92.19deg, #5CFF68 0%, #05CAFF 100%);
    border-radius: 6px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 0px;
    color: rgba(27, 39, 49, 1);;
    
}

.application_qr_code {
    position: relative;
    height: 150px;
    width: 150px;
    left: 320px;
    bottom: 120px;
}

.application_containner_img {
    height: 200px;
    margin-left: 1.5rem;
}

@media only screen and (max-width:1300px){
    .application_containner{
        top:1600px;
        width:1200px;
    }

    .application_containner_mini_para{
        width:70%;
    }

    .application_qr_code{
        height:160px;
        width:160px;

        position: relative;
        top: -130px;
        left:240px;
    }

    .application_containner_mini_button {
        top: -140px
    }

    .application_containner_img {
        visibility: hidden;
    }
}

@media only screen and (max-width:760px) {
    .application_containner{
        display: none;
    }
}

/* =================================================================================================== */
/* FAQs SECTION  */
.FAQs_containner {
    text-align: center;
    margin-top: 5%;

}

.FAQs_title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;

    color: #1B2731;
}

.FAQs_underline {
    width: 8rem;
    height: 2px;
    margin: auto;
    background-image: linear-gradient(91.67deg, #5CFF68 1.42%, #05CAFF 98.58%);
}

.FAQs_flex {
    width: 70%;
    margin: 1rem auto;

    text-align: left;
}

.FAQs_question {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 18px;
    
    letter-spacing: -0.01em;

    color: #1B2731;
}

.FAQs_answer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    letter-spacing: -0.01em;

    color: #1B2731;

}
@media only screen and (max-width:1300px){
    .FAQs_containner{
        top:1900px;
    }
}
@media only screen and (max-width:760px){
    .FAQs_containner{
        top:1900px;
    }
    .FAQs_question{
        font-size: 16px;
        line-height: 18px;
        margin-top: 1rem;
    }
}