/* CSS file for Homepage  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.hp {
    font-family: 'Poppins';
    font-style: normal;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.hp_cont_1 {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.cont_1_content {
    padding: 5%;
    width: 50%;
    margin: auto;
}

.hp_cont_1_p1 {
    font-size: 36px;
    font-weight: 550;
    letter-spacing: -1px;
    line-height: 40px;
}

.hp_cont_1_p2 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;    
    letter-spacing: -0.02em;
    max-width: fit-content;
}

.hp_cont_1_cloud {
    background: -webkit-linear-gradient(111.84deg, #5CFF68 12.29%, #05CAFF 112.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cont_1_img {
    width: 50%;
    margin: 1em;
    display: inline-block;
    position: relative;
}

.cont_1_img > p{
    position: absolute;
    transform: translate(50%,50%);
    top: 1%;
    left: 20%;
    font-weight: bold;
    font-size: 1rem;
}

.hp_cont_1_img1 {
    width: 55%;
    left: 42%;
    top: 13%;
    border-radius: 5px;
    display: block;
    position: absolute;
    z-index: 1;
}

.hp_cont_1_img2 {
    width: 55%;
    border-radius: 5px;
    top: 45%;
    left: 6%;
    display: block;
    position: absolute;
}

.hp_cont_1_img3 {
    width: 40%;
    position: absolute;
    height: 130.05px;
    display: block;
    top: 10%;
    left: 1%;
}

.hp_cont_1_img1 > a > p,
.hp_cont_1_img2 > a > p {
    text-align: center;
    transform: translateY(-28%);
    background-color: #1B2731;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0;
    color: #FFFFFF;
}

.hp_cont_1_img4 {
    width: 30%;
    height: 117.1px;
    position: absolute;
    left: 62%;
    top: 15rem;
    display: block;
}

.hp_cont_1_btn {
    margin-top: 20px;
    background: linear-gradient(94.34deg, #5CFF68 0%, #05CAFF 100%);
    font-weight: 500;
    font-size: 15px;
    color: #1B2731;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    cursor : pointer;
}

.hp_cont_1_btn a {
    text-decoration: none;
}

.hp_cont_1_btn:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.hp_cont_3 {
    max-width: 1200px;
    margin: 1em auto;
}

.hp_cont_3_h1{
    padding-bottom: 1em;
    text-align: center;
}

.hp_cont_3_h1 > h1{
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 2.5em;
}

.hp_cont_3_h1 >h1::after{
    content: "";
    width: 98%;
    position: absolute;
    bottom: -20%;
    left: 1%;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(94.72deg, #5CFF68 0%, #05CAFF 100%);
}

.hp_cont_3_section{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 0 3rem;
}

.hp_cont_3_vid,
.hp_cont_3_blog {
    padding: 1.5em 4em 1.8em 1.5em;
    background: -webkit-linear-gradient(rgba(27, 39, 49, 0.9), rgba(27, 39, 49, 0.9)), url("./assests/Videos.png");
    border-radius: 5px;
}

.hp_cont_3_vid_p1,
.hp_cont_3_blog_p1 {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.hp_cont_3_vid_h2,
.hp_cont_3_blog_h2 {
    display: flex;
    font-weight: 500;
    font-size: 2em;
    align-items: center;
    gap: 1rem;
    color: #FFFFFF;
}

.hp_cont_3_vid_p3,
.hp_cont_3_blog_p3 {
    margin: auto;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.hp_cont_3_vidIcon,
.hp_cont_3_blogIcon {
    width: .7em;
    object-fit: contain;
    height: .7em;
}

.hp_cont_3_btn1,
.hp_cont_3_btn2 {
    background: linear-gradient(94.34deg, #5CFF68 0%, #05CAFF 100%);
    border-radius: 10px;
    margin-top: 5%;
    padding: 1.5%;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.hp_cont_3_btn1:hover,
.hp_cont_3_btn2:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.hp_cont_3_btn1_content,
.hp_cont_3_btn2_content {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #1B2731;
}

.hp_cont_3_linkIcon {
    margin-left: 8px;
    width: 15px;
}

.hp_cont_4{
    background-image: url('./assests/Workshop_background.png');
    padding: 3rem 0;
    margin: 55px 0;
}
.hp_cont_4_content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 2rem;
}

.hp_cont_4_workshop {
    width: 50%;
    margin-left: 3rem;
}

.hp_cont_4_img{
    width: 50%;
    margin-right: 3rem;
}

.hp_cont_4_img> img{
    border: 3px solid white;
}

.hp_cont_4_p1 {
    font-family: Poppins;
    font-size: 2em;
    font-weight: 500;
    color: #FFFFFF;
    border-image-source: linear-gradient(94.72deg, #5CFF68 0%, #05CAFF 100%);
    border-bottom: 2px solid;
    border-image-slice: 1;
}

.hp_cont_4_p1 > span{
    background-color: #FFFFFF;
    color: red;
    border-radius: 10px;
    padding: 1px 7px;
    font-weight: bold;
    font-size: 1rem;
}

.hp_cont_4_p2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 1rem;
}

.hp_cont_4_kubernetes,
.hp_cont_4_projects {
    background: -webkit-linear-gradient(111.84deg, #5CFF68 12.29%, #05CAFF 112.72%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hp_cont_4_btn1 {
    background: linear-gradient(94.34deg, #5CFF68 0%, #05CAFF 100%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 7px 5px ;
}

.hp_cont_4_btn1:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.hp_cont_4_btn1 a {
    text-decoration: none;
}

.hp_cont_4_btn1_content {
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #1B2731;
}
.hp_cont_6,
.hp_cont_5 {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    gap: 5rem;
    margin: 3rem auto;
    max-height: 250px;
}
.hp_cont_6_ambassadors,
.hp_cont_5_blog_contributor {
    width: 70%;
    border-radius: 5px;
    background: #1B2731;
    padding: 1.5rem 6rem 1.5rem 2rem;
    line-height: 30px;
}

.hp_cont_5_blog_p1,
.hp_cont_6_ambassador_p1 {
    margin-bottom: .5em;
    font-family: Poppins;
    color: #FFFFFF;
}

.hp_cont_5_blog_kube,
.hp_cont_6_ambassador_kube {
    font-family: Poppins;
    font-size: 1.5em;
    font-weight: 550;
    color: #FFFFFF;
}

.hp_cont_5_blog_p2,
.hp_cont_6_ambassador_p2 {
    font-family: Poppins;
    color: #FFFFFF;
    margin-top: .5em;
}

.hp_cont_5_btn1,
.hp_cont_6_btn1 {
    padding: .5em 1em;
    background: linear-gradient(94.34deg, #5CFF68 0%, #05CAFF 100%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.hp_cont_5_btn1:hover,
.hp_cont_6_btn1:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.hp_cont_5_btn1 a,
.hp_cont_6_btn1 a {
    text-decoration: none;
}

.hp_cont_5_btn1_content,
.hp_cont_6_btn1_content {
    margin: auto;
    font-family: 'Poppins';
    font-size: 15px;
    color: #1B2731;
}

.hp_cont_6_img{
    overflow: hidden;
}

.hp_cont_6_ambassador_image {
    border-radius: 0px;
}

/* Using Media Gallery to make the page responsive */
@media only screen and (max-width: 1200px) {
    .hp_cont_5,
    .hp_cont_6{
        max-height: fit-content;
        margin: 3rem 3rem;
    }
}

@media only screen and (max-width: 1000px) {

    .hp_cont_5,
    .hp_cont_6{
        margin: 3rem 0;
    }

    .hp_cont_6_img,
    .hp_cont_5_img{
        display: none;
    }

    .hp_cont_5_blog_contributor,
    .hp_cont_6_ambassadors {
        margin: 0 3rem;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .hp_cont_4_img{
        display: none;
    }

    .hp_cont_4_workshop{
        width: auto;
    }

    .hp_cont_3_vid,
    .hp_cont_3_blog {
        padding: 1.5em 1em;
    }

    .hp_cont_3_vid_h2,
    .hp_cont_3_blog_h2 {
        font-size: large;
    }

    .hp_cont_5_blog_contributor,
    .hp_cont_6_ambassadors{
        padding: 1.5rem 2rem ;
    }
    
    .cont_1_img {
        display: none;
    }

    .cont_1_content {
        text-align: center;
    }

    .hp_cont_1_p1 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 426px) {
    /* mobile screen - L */
    
    .hp_cont_1,
    .hp_cont_3_section,
    .hp_cont_4_workshop,
    .hp_cont_5_blog_contributor,
    .hp_cont_6_ambassadors{
        margin : auto 5vw;
    }

    .hp_cont_3_section{
        flex-direction: column;
    }

    .hp_cont_3_h1 > h1{
        font-size: 1.5em;
    }

    .hp_cont_3_vid_p1,
    .hp_cont_3_blog_p1 {
       margin: 5px 0; 
    }
    
    .hp_cont_3_vid_h2,
    .hp_cont_3_blog_h2 {
       font-size: 1em; 
    }

    .hp_cont_3_btn1_content,
    .hp_cont_3_btn2_content {
       font-size: 1em;
       padding: 2px; 
    }
    .cont_1_content{
        width: auto;
    }

    .hp_cont_5_blog_contributor,
    .hp_cont_6_ambassadors{
        padding: 1.5rem 2rem ;
    }

    .hp_cont_5_blog_kube,
    .hp_cont_6_ambassador_kube{
        font-size: large;
    }
}
