.footer {
    position: relative;
    height: 450px;
    left: 0px;
    top: 2919px;

    
    background: #1B2731;
}

.title {
    position: absolute;
    width: 23.5%;
    height: 10%;
    left: 10%;
    right: 70.05%;
    top: 14.37%;
    bottom: 74.95%;
    border: solid;
    border-width: 0px 0px 2px 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 205%;
    line-height: 90%;
    margin-top: -0.5%;
/* identical to box height, or 124% */

    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.sponsors_content {
    position: absolute;
    width: 52%;
    height: 10%;
    left: 10%;
    margin-top: 9%;

    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 2.4rem;
    /* or 183% */

    color: white;
}

.sponsors_card {
    position: absolute;
    align-items: center;
    left: 69.7%;
    right: 10%;
    top: 14%;
    bottom: 25%;

    background: #FFFFFF;
    border-radius: 10px;
    margin-top: -0.8%;
    height: 17.5rem;
    width: 19.2rem;
}

.sponsors_card_title {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    right: 10%;
    top: 10%;

    font-family: 'Poppins';
    font-style: bolder;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 30px;
    /* or 136% */

    text-align: center;
    letter-spacing: -0.01em;

    color: #1B2731;
    margin-top: -2.5%;
}

.sponsor_hashnode {
    position: absolute;
    left: 9%;
    right: 12%;
    bottom: 48%;

    background: #2962FF;
    border-radius: 10px;
    border: none;

    height: 3.2rem;
    width: 15.6rem;
    margin-top: -3%;
    cursor: pointer;
}

.sponsor_hashnode_logo {
    position: absolute;
    left: 20%;
    right: 60%;
    top: 30%;
    bottom: 25%;
    border-width: 0ch;

    background: transparent;
}

.logo {
    width: 102%;
    height: 100%;
}

.button_name {
    position: absolute;
    left: 90%;
    top: 46.2%;
    bottom: 53.8%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 150%;
    line-height: 0px;
    /* identical to box height, or 0% */
    
    /* letter-spacing: -0.01em; */
    
    color: #FFFFFF;    
}

.sponsors_or {
    position: absolute;
    width: 29px;
    height: 35px;
    left: 43%;
    right: 43%;
    top: 54%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 35px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: -0.01em;

    color: #1B2731;

}

.sponsor_coffee {
    position: absolute;
    left: 9%;
    right: 12%;
    top: 68%;
    bottom: 20%;

    background: #FFDD00;
    border-radius: 10px;
    border: none;
    height: 3.2rem;
    width: 15.6rem;
    margin-top: 1%;
    cursor: pointer;
}

.coffee {
    width: 100%;
    height: 100%;
}

.hr {
    position: relative;
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
    top: 79.5%;

    background: white;
}


.end_first {
    position: absolute;
    left: 10%;
    top: 91.8%;
    width: 20%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 10%;
    /* identical to box height, or 130% */

    align-items: center;
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
    
}

.mail_logo {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 43.5%;
    top: 89.8%;
    color: white;
    cursor: pointer;
}

.mail_title {
    position: absolute;
    width: 284px;
    height: 30px;
    left: 45.7%;
    top: 89%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    text-align: justify;
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
    cursor: pointer;
}

.group_logo {
    position: relative;
    width: 13%;
    left: 79.2%;
    top: 78.8%;
}

.social {
    position: static;
    width: 21px;
    height: 21px;
    left: 170px;
    top: 0px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 1%;  
    color: #1B2731;
    background: white;
    border-radius: 11px;
}

.social1{
    width: 20px;
    height: 20px;
    color: #1B2731;
    background: white;
    border-radius: 11px;
    margin-right: 0px;
}
.social2{
    width: 20px;
    height: 20px;
    color: #1B2731;
    background: white;
    border-radius: 11px;
    margin-left: 9px;
}
.social3{
    width: 21px;
    height: 21px;
    color: white;
    margin-left: 8px;
}

/* Hover color on social icons if needed */

/* .social1:hover{
    color: #2e8555;
}
.social2:hover{
    color: #2e8555;
}
.social3:hover{
    color: #2e8555;
}
.mail_logo:hover{
    color: #2e8555;
}
.mail_title:hover{
    color: #2e8555;
} */
