.footer {
    position: relative;
    background: #1B2731;
}


.footer_upper {
    max-width: 1200px;
    margin: auto;
    padding: 2vw 5vw;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.content {
    width: 70%;

}

.title {
    border-bottom: 1px solid;
    border-image-slice: 1;
    font-family: 'Poppins';
    font-weight: 500;
    /* identical to box height, or 124% */
    color: #FFFFFF;
}

.sponsors_content {
    font-family: 'Poppins';
    letter-spacing: 1px;
    /* or 183% */

    color: white;
}

.sponsors_card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 10px;
}

.sponsors_card_title {
    font-family: 'Poppins';
    font-style: bolder;
    font-weight: 400;
    font-size: 1.5rem;

    /* or 136% */

    text-align: center;
    letter-spacing: -0.01em;

    color: #1B2731;
}

.sponsor_hashnode {
    background: #2962FF;
    border-radius: 10px;
    padding: 1vw 2vw;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    font-size: large;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.sponsor_hashnode:hover {
    background: #1750ef;

}
.logo {
    height: 25px;
    width: 25px;
}

.hr {
    position: relative;
    height: 1px;
    max-width: 1200px;
    margin: 1vw auto;
    background: white;
}

.footer_lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 1vw auto;
}


.end_first {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    /* identical to box height, or 130% */
    color: #FFFFFF;
}

.footer_mail {
    display: flex;
}

.footer_mail * {
    margin: auto;
}

.footer_mail a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.mail_logo {
    width: 2vw;
    height: 2vw;
    color: white;
    cursor: pointer;
}

.mail_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    /* identical to box height, or 150% */
    text-align: justify;
    color: #FFFFFF;
    cursor: pointer;
}

.group_logo {
    width: fit-content;
}

.social1 {
    width: 1.5vw;
    height: 1.5vw;
    color: #1B2731;
    background: white;
    border-radius: 11px;
    margin-right: 0px;
    margin-top: -10%;
}

.social2 {
    width: 1.5vw;
    height: 1.5vw;
    color: #1B2731;
    background: white;
    border-radius: 11px;
    margin-left: 9px;
}

.social3 {
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    margin-left: 8px;
}


@media only screen and (max-width: 700px) {

    .footer_upper {
        flex-direction: column;
    }

    .title {
        font-size: 4vw;
    }

    .footer_lower {
        flex-direction: column;
        gap: 1rem;
    }

    .footer_lower * {
        font-size: 2vw;
    }

    .group_logo * {
        height: 3vw;
        width: 3vw;
    }
}

@media only screen and (max-width: 700px) {
    .footer_upper{
        gap: 1rem;
    }

    .content{
        width: auto;
    }
}



/* Hover color on social icons if needed */

/* .social1:hover{
    color: #2e8555;
}
.social2:hover{
    color: #2e8555;
}
.social3:hover{
    color: #2e8555;
}
.mail_logo:hover{
    color: #2e8555;
}
.mail_title:hover{
    color: #2e8555;
} */